@font-face {
  font-family: 'Aeonik';
  src:
    url('/fonts/Aeonik-Regular.woff2') format('woff2'),
    url('/fonts/Aeonik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik';
  src:
    url('/fonts/Aeonik-Bold.woff2') format('woff2'),
    url('/fonts/Aeonik-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src:
    url('/fonts/Inter-Regular.woff2') format('woff2'),
    url('/fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src:
    url('/fonts/Inter-Bold.woff2') format('woff2'),
    url('/fonts/Inter-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src:
    url('/fonts/SourceCodePro-Regular.woff2') format('woff2'),
    url('/fonts/SourceCodePro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src:
    url('/fonts/SourceCodePro-Bold.woff2') format('woff2'),
    url('/fonts/SourceCodePro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src:
    url('/fonts/SourceCodePro-Italic.woff2') format('woff2'),
    url('/fonts/SourceCodePro-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
